Construccion/IFC-DC/UPC.IFCDC.UI/Service References/LogroWS/LogroWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogroDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="CursoId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="LogroId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogroDC" nillable="true" type="tns:LogroDC" />
</xs:schema>