Construccion/IFC-DC/UPC.IFCDC.UI/Service References/CursoWS/CursoWS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CursoCollectionDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CursoDC" nillable="true" type="tns:CursoDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CursoCollectionDC" nillable="true" type="tns:CursoCollectionDC" />
  <xs:complexType name="CursoDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CursoControl" type="xs:boolean" />
      <xs:element minOccurs="0" name="CursoCreditos" type="xs:int" />
      <xs:element minOccurs="0" name="CursoId" type="xs:int" />
      <xs:element minOccurs="0" name="CursoVerificacion" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CursoDC" nillable="true" type="tns:CursoDC" />
  <xs:complexType name="CursoxProfesorCollectionDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="LstCursosxProfesor" nillable="true" type="tns:ArrayOfCursoxProfesorDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CursoxProfesorCollectionDC" nillable="true" type="tns:CursoxProfesorCollectionDC" />
  <xs:complexType name="ArrayOfCursoxProfesorDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CursoxProfesorDC" nillable="true" type="tns:CursoxProfesorDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCursoxProfesorDC" nillable="true" type="tns:ArrayOfCursoxProfesorDC" />
  <xs:complexType name="CursoxProfesorDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CursoId" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfesorId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CursoxProfesorDC" nillable="true" type="tns:CursoxProfesorDC" />
</xs:schema>