Construccion/IFC-DC/UPC.IFCDC.UI/Service References/AccionMejoraWS/AccionMejoraWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccionMejoraCollectionDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="LstAccionesMejora" nillable="true" type="tns:ArrayOfAccionMejoraDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccionMejoraCollectionDC" nillable="true" type="tns:AccionMejoraCollectionDC" />
  <xs:complexType name="ArrayOfAccionMejoraDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccionMejoraDC" nillable="true" type="tns:AccionMejoraDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccionMejoraDC" nillable="true" type="tns:ArrayOfAccionMejoraDC" />
  <xs:complexType name="AccionMejoraDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccionMejoraId" type="xs:int" />
      <xs:element minOccurs="0" name="CicloEjecucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CicloEjecucionId" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoHallazgo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HallazgoId" type="xs:int" />
      <xs:element minOccurs="0" name="InformeFinCicloId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccionMejoraDC" nillable="true" type="tns:AccionMejoraDC" />
  <xs:complexType name="AccionMejoraReporteCollectionDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="LstAccionMejoraReporte" nillable="true" type="tns:ArrayOfAccionMejoraReporteDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccionMejoraReporteCollectionDC" nillable="true" type="tns:AccionMejoraReporteCollectionDC" />
  <xs:complexType name="ArrayOfAccionMejoraReporteDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccionMejoraReporteDC" nillable="true" type="tns:AccionMejoraReporteDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccionMejoraReporteDC" nillable="true" type="tns:ArrayOfAccionMejoraReporteDC" />
  <xs:complexType name="AccionMejoraReporteDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccionMejoraId" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoAccionMejora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoHallazgo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCurso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccionMejoraReporteDC" nillable="true" type="tns:AccionMejoraReporteDC" />
</xs:schema>