Construccion/IFC-DC/UPC.IFCDC.UI/Service References/PeriodoWS/PeriodoWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PeriodoCollectionDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PeriodoDC" nillable="true" type="tns:PeriodoDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeriodoCollectionDC" nillable="true" type="tns:PeriodoCollectionDC" />
  <xs:complexType name="PeriodoDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsActual" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FechaFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeriodoDC" nillable="true" type="tns:PeriodoDC" />
</xs:schema>