Construccion/ABET_WS/ConsoleApplication1/Service References/PeriodoWS/PeriodoWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PeriodoCollectionDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PeriodoDC" nillable="true" type="tns:PeriodoDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeriodoCollectionDC" nillable="true" type="tns:PeriodoCollectionDC" />
  <xs:complexType name="PeriodoDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="PeriodoId" type="xs:int" />
      <xs:element minOccurs="0" name="PeriodoNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeriodoDC" nillable="true" type="tns:PeriodoDC" />
</xs:schema>