Construccion/ABET_WS/ConsoleApplication1/Service References/PeriodoWS/PeriodoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4526/PeriodoWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" />
  <xs:element name="ListarPeriodoPorCarreraId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CarreraId" type="xs:int" />
        <xs:element minOccurs="0" name="CursoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPeriodoPorCarreraIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" minOccurs="0" name="ListarPeriodoPorCarreraIdResult" nillable="true" type="q1:PeriodoCollectionDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>