Construccion/IFC-DC/UPC.IFCDC.UI/Service References/PersonaWS/PersonaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PersonaDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPersona" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonaDC" nillable="true" type="tns:PersonaDC" />
</xs:schema>