Construccion/ABET_WS/ConsoleApplication1/Service References/CarreraWS/CarreraWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CarreraCollectionDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarreraDC" nillable="true" type="tns:CarreraDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarreraCollectionDC" nillable="true" type="tns:CarreraCollectionDC" />
  <xs:complexType name="CarreraDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarreraId" type="xs:int" />
      <xs:element minOccurs="0" name="CarreraNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarreraDC" nillable="true" type="tns:CarreraDC" />
</xs:schema>