Construccion/ABET_WS/ConsoleApplication1/Service References/CursoWS/CursoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4526/CursoWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" />
  <xs:element name="ListarCursosPorTipoCursoCarreraId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CarreraId" type="xs:int" />
        <xs:element minOccurs="0" name="TipoCurso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCursosPorTipoCursoCarreraIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" minOccurs="0" name="ListarCursosPorTipoCursoCarreraIdResult" nillable="true" type="q1:CursoCollectionDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCursosPorCarreraPorNivelPorPeriodoActual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CarreraId" type="xs:int" />
        <xs:element minOccurs="0" name="nivel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCursosPorCarreraPorNivelPorPeriodoActualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" minOccurs="0" name="ListarCursosPorCarreraPorNivelPorPeriodoActualResult" nillable="true" type="q2:CursoCollectionDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCursosPorCarreraPorNivelPorPeriodoActual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cursoId" type="xs:int" />
        <xs:element minOccurs="0" name="esControl" type="xs:boolean" />
        <xs:element minOccurs="0" name="esVerificacion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCursosPorCarreraPorNivelPorPeriodoActualResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>