Construccion/ABET_WS/ConsoleApplication1/Service References/OutcomeWS/OutcomeWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OutcomeCollectionDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OutcomeDC" nillable="true" type="tns:OutcomeDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OutcomeCollectionDC" nillable="true" type="tns:OutcomeCollectionDC" />
  <xs:complexType name="OutcomeDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutcomeDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutcomeId" type="xs:int" />
      <xs:element minOccurs="0" name="OutcomeNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OutcomeDC" nillable="true" type="tns:OutcomeDC" />
</xs:schema>