Construccion/IFC-DC/UPC.IFCDC.UI/Service References/InformeFinCicloWS/InformeFinCicloWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InformeFinCicloDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComentarioAlumnos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComentarioDelegados" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComentarioEncuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComentarioInfraestructura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoordinadorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CursoId" type="xs:int" />
      <xs:element minOccurs="0" name="DesarrolloUnidades" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InformeFinCicloId" type="xs:int" />
      <xs:element minOccurs="0" name="PeriodoId" type="xs:int" />
      <xs:element minOccurs="0" name="UltimaActualizacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformeFinCicloDC" nillable="true" type="tns:InformeFinCicloDC" />
  <xs:complexType name="InformeFinCicloReporteCollectionDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="LstInformeFinCicloReporte" nillable="true" type="tns:ArrayOfInformeFinCicloReporteDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformeFinCicloReporteCollectionDC" nillable="true" type="tns:InformeFinCicloReporteCollectionDC" />
  <xs:complexType name="ArrayOfInformeFinCicloReporteDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InformeFinCicloReporteDC" nillable="true" type="tns:InformeFinCicloReporteDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInformeFinCicloReporteDC" nillable="true" type="tns:ArrayOfInformeFinCicloReporteDC" />
  <xs:complexType name="InformeFinCicloReporteDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoCurso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaActualizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InformeFinCicloId" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCurso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreProfesor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Periodo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformeFinCicloReporteDC" nillable="true" type="tns:InformeFinCicloReporteDC" />
</xs:schema>