Construccion/IFC-DC/UPC.IFCDC.UI/Service References/InformeFinCicloWS/InformeFinCicloWS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4526/InformeFinCicloWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" />
  <xs:element name="WSObtenerInformeFinCicloxId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="informeFinCicloId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSObtenerInformeFinCicloxIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" minOccurs="0" name="WSObtenerInformeFinCicloxIdResult" nillable="true" type="q1:InformeFinCicloDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSObtenerInformeFinCiclo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="coordinadorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cursoId" type="xs:int" />
        <xs:element minOccurs="0" name="periodoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSObtenerInformeFinCicloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" minOccurs="0" name="WSObtenerInformeFinCicloResult" nillable="true" type="q2:InformeFinCicloDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSEditarInformeFinCiclo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="informeFinCicloId" type="xs:int" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desarrolloUnidades" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="infraestructura" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="alumnos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="delegados" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="encuesta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSEditarInformeFinCicloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" minOccurs="0" name="WSEditarInformeFinCicloResult" nillable="true" type="q3:InformeFinCicloDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSListarInformeFinCicloReporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cursoId" type="xs:int" />
        <xs:element minOccurs="0" name="periodoId" type="xs:int" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSListarInformeFinCicloReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" minOccurs="0" name="WSListarInformeFinCicloReporteResult" nillable="true" type="q4:InformeFinCicloReporteCollectionDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>