Construccion/IFC-DC/UPC.IFCDC.UI/Service References/HallazgoWS/Hallazgo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Hallazgo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4526/HallazgoWS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4526/HallazgoWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4526/HallazgoWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHallazgo_WSRegistrarHallazgo_InputMessage">
    <wsdl:part name="parameters" element="tns:WSRegistrarHallazgo" />
  </wsdl:message>
  <wsdl:message name="IHallazgo_WSRegistrarHallazgo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WSRegistrarHallazgoResponse" />
  </wsdl:message>
  <wsdl:message name="IHallazgo_WSListarHallazgosxInformeFinCiclo_InputMessage">
    <wsdl:part name="parameters" element="tns:WSListarHallazgosxInformeFinCiclo" />
  </wsdl:message>
  <wsdl:message name="IHallazgo_WSListarHallazgosxInformeFinCiclo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WSListarHallazgosxInformeFinCicloResponse" />
  </wsdl:message>
  <wsdl:message name="IHallazgo_WSEditarHallazgo_InputMessage">
    <wsdl:part name="parameters" element="tns:WSEditarHallazgo" />
  </wsdl:message>
  <wsdl:message name="IHallazgo_WSEditarHallazgo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WSEditarHallazgoResponse" />
  </wsdl:message>
  <wsdl:message name="IHallazgo_WSEliminarHallazgo_InputMessage">
    <wsdl:part name="parameters" element="tns:WSEliminarHallazgo" />
  </wsdl:message>
  <wsdl:message name="IHallazgo_WSEliminarHallazgo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WSEliminarHallazgoResponse" />
  </wsdl:message>
  <wsdl:message name="IHallazgo_WSListarHallazgoReporte_InputMessage">
    <wsdl:part name="parameters" element="tns:WSListarHallazgoReporte" />
  </wsdl:message>
  <wsdl:message name="IHallazgo_WSListarHallazgoReporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:WSListarHallazgoReporteResponse" />
  </wsdl:message>
  <wsdl:portType name="IHallazgo">
    <wsdl:operation name="WSRegistrarHallazgo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHallazgo/WSRegistrarHallazgo" message="tns:IHallazgo_WSRegistrarHallazgo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHallazgo/WSRegistrarHallazgoResponse" message="tns:IHallazgo_WSRegistrarHallazgo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WSListarHallazgosxInformeFinCiclo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHallazgo/WSListarHallazgosxInformeFinCiclo" message="tns:IHallazgo_WSListarHallazgosxInformeFinCiclo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHallazgo/WSListarHallazgosxInformeFinCicloResponse" message="tns:IHallazgo_WSListarHallazgosxInformeFinCiclo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WSEditarHallazgo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHallazgo/WSEditarHallazgo" message="tns:IHallazgo_WSEditarHallazgo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHallazgo/WSEditarHallazgoResponse" message="tns:IHallazgo_WSEditarHallazgo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WSEliminarHallazgo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHallazgo/WSEliminarHallazgo" message="tns:IHallazgo_WSEliminarHallazgo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHallazgo/WSEliminarHallazgoResponse" message="tns:IHallazgo_WSEliminarHallazgo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WSListarHallazgoReporte">
      <wsdl:input wsaw:Action="http://tempuri.org/IHallazgo/WSListarHallazgoReporte" message="tns:IHallazgo_WSListarHallazgoReporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHallazgo/WSListarHallazgoReporteResponse" message="tns:IHallazgo_WSListarHallazgoReporte_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHallazgo" type="tns:IHallazgo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSRegistrarHallazgo">
      <soap:operation soapAction="http://tempuri.org/IHallazgo/WSRegistrarHallazgo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSListarHallazgosxInformeFinCiclo">
      <soap:operation soapAction="http://tempuri.org/IHallazgo/WSListarHallazgosxInformeFinCiclo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSEditarHallazgo">
      <soap:operation soapAction="http://tempuri.org/IHallazgo/WSEditarHallazgo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSEliminarHallazgo">
      <soap:operation soapAction="http://tempuri.org/IHallazgo/WSEliminarHallazgo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSListarHallazgoReporte">
      <soap:operation soapAction="http://tempuri.org/IHallazgo/WSListarHallazgoReporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Hallazgo">
    <wsdl:port name="BasicHttpBinding_IHallazgo" binding="tns:BasicHttpBinding_IHallazgo">
      <soap:address location="http://localhost:4526/HallazgoWS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>