Construccion/IFC-DC/UPC.IFCDC.UI/Service References/HallazgoWS/HallazgoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4526/HallazgoWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" />
  <xs:element name="WSRegistrarHallazgo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="informeFinCicloId" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="periodoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSRegistrarHallazgoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" minOccurs="0" name="WSRegistrarHallazgoResult" nillable="true" type="q1:HallazgoCollectionDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSListarHallazgosxInformeFinCiclo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="informeFinCicloId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSListarHallazgosxInformeFinCicloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" minOccurs="0" name="WSListarHallazgosxInformeFinCicloResult" nillable="true" type="q2:HallazgoCollectionDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSEditarHallazgo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hallazgoId" type="xs:int" />
        <xs:element minOccurs="0" name="informeFinCicloId" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSEditarHallazgoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" minOccurs="0" name="WSEditarHallazgoResult" nillable="true" type="q3:HallazgoCollectionDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSEliminarHallazgo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hallazgoId" type="xs:int" />
        <xs:element minOccurs="0" name="informeFinCicloId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSEliminarHallazgoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" minOccurs="0" name="WSEliminarHallazgoResult" nillable="true" type="q4:HallazgoCollectionDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSListarHallazgoReporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cursoId" type="xs:int" />
        <xs:element minOccurs="0" name="periodoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WSListarHallazgoReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UPC.SSIA2013.WS.DataContract" minOccurs="0" name="WSListarHallazgoReporteResult" nillable="true" type="q5:HallazgoReporteCollectionDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>